.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@-ms-viewport{
    width: device-width;
}

body {
    background: #FFBD59;
}

h1#site-title {
    font-size: 50px;
    font-family: 'Sarabun', sans-serif;
}

h1#article-title {
    font-size: 40px;
    color:#52796f;
    font-family: 'Archivo Black', sans-serif;
}

article.words {
    width: 1100px;
    margin: auto;
    font-family: 'Sarabun', sans-serif;
}

footer#page-footer {
    background: #825E84;
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
}

li {
    display: inline;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
}

header {
    background-image: url("https://i.pinimg.com/originals/9a/4e/e1/9a4ee13d4adce2a4c5cd746ff8993bbf.gif");
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #825E84;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    font-family: 'Sarabun', sans-serif;
  }

.sidenav a:hover {
    color: #FFBD59;
  }

.main {
    margin-left: 250px;
    padding: 0px 10px;
  }

nav.site-menu {
    margin: auto 0;
    font-family: 'Sarabun', sans-serif;
    text-align: center;
  }

