.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body {
    background: #FFBD59;
}

h1#article-title {
    font-size: 40px;
    color:2px 2px 7px #52796f;
}
